@charset "utf-8";
/* CSS Document */
#logo {
	float: left;
	padding-left: 50px;
}
#web_site {
	float: right;
	width:90%;
}
.clearfix:after {
 display: block;
 clear: both;
 content: "";
 height:0;
 font-size: 1px;
 line-height: 0px; 
 _zoom: 1;
}
#table {
	background-color:#14E7DD;
}

